<div class="page-content mb-0">
    <h2 class="text-2xl font-semibold mb-4 settings-page-title">User Activity</h2>
    <div class="sub-page active">
        <partial name="UserActivityPartials/_UserActivities.cshtml" />
    </div>
</div>