
<link rel="stylesheet" href="~/features/admin/diagnosis/css/diagnosis.css" asp-append-version="true" />

<div id="test" class="page-content">
    <div class="flex items-center gap-4 mb-3">
        <input 
            class="form-input" 
            placeholder="Search Patient" 
            style="width: 300px;" 
            id="searchConsultationText" />
        <button id="searchConsultationBtn" class="btn btn-secondary">Search</button>
    </div>
    <div class="card">
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                        <th>Symptoms</th>
                        <th>Result</th>
                        <th>Action</th>
                        <th>P.E Report Status</th>
                    </tr>
                </thead>
                <tbody id="history-table-body">
                </tbody>
            </table>
        </div>
        <div class="pagination-controls">
            <label style="font-weight: 500;">Page: </label>
            <select id="diagnosis-pagination" value="2" class="form-select" style="width: auto;">
            </select>
        </div>
    </div>
</div>

@* Diagnosis Result *@
<div id="diagnosis-result-modal" class="modal-backdrop">
    <div class="modal-content modal-diagnosis-content">
        <div class="modal-header">
            <h3 class="text-sm font-semibold">Consultation Result</h3>
            <button id="close-diagnosis-result-modal" class="modal-close-btn">&times;</button>
        </div>
        <div class="modal-body">
            <div class="diagnosis-content-card">
                <div class="diagnosis-illnes-section">
                    <h1 id="diagnosis-result"></h1>
                </div>
                <div class="disclaimer-container">
                    <span class="disclaimer-title"></span>
                    <span class="disclaimer-desc"></span>
                </div>
                <div class="patient-symptoms-section">
                    <span class="symptoms-section-label">PATIENT SYMPTOMS</span>
                    <ul class="patient-symptoms-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* Physical Report *@
<div id="physicalReportModal" class="modal-backdrop">
    <div class="modal-content physical-report-modal-content">
        <div class="modal-header">
            <h3 class="text-xl font-semibold">PHYSICAL EXAMINATION REPORT</h3>
            <button id="closePhysicalReportBtn" class="modal-close-btn" data-target-modal="physicalReportModal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="mb-4 font-uppercase">
                Patient Name: <span class="font-bold" id="patientPhysicalReportName"></span>
            </div>
            <div class="physical-report-header-form font-uppercase">
                <p class="mb-3">Vital Signs:</p>
                <div class="pyhical-report-header-fields">
                    <div class="header-field flex items-center gap-4">
                        <label>BP:</label>
                        <input id="patientBP" name="bp"  class="form-input physical-exam-vital-sign-field" />
                    </div>
                    <div class="header-field flex items-center gap-4">
                        <label>HR:</label>
                        <input id="patientHR" name="hr" class="form-input physical-exam-vital-sign-field" />
                    </div>
                    <div class="header-field flex items-center gap-4">
                        <label>RR:</label>
                        <input id="patientRR" name="rr" class="form-input physical-exam-vital-sign-field" />
                    </div>
                    <div class="header-field flex items-center gap-4">
                        <label>TEMP:</label>
                        <input id="patientTemp" name="temp" class="form-input physical-exam-vital-sign-field" />
                    </div>
                    <div class="header-field flex items-center gap-4">
                        <label>WEIGHT:</label>
                        <input id="patientWeight" name="weight" class="form-input physical-exam-vital-sign-field" />
                    </div>
                    <div class="header-field flex items-center gap-4">
                        <label>O2 SAT.:</label>
                        <input id="patientO2Sat" name="o2Sat" class="form-input physical-exam-vital-sign-field" />
                    </div>
                </div>
                <hr />
            </div>
            <div class="table-container mt-4">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>DESCRIBE THE FOLLOWING:</th>
                            <th>NORMAL</th>
                            <th>ABNORMAL FINDINGS</th>
                        </tr>
                    </thead>
                    <tbody id="pyhsicalReportTableBody" class="font-uppercase">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button id="savePhysicalExam" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>


@* Patient Details View *@
<div id="patientInfoModal" class="modal-backdrop">
    <div class="modal-content physical-report-modal-content">
        <div class="modal-header">
            <button id="closePatientInfoModal" class="modal-close-btn">&times;</button>
        </div>
        <div class="modal-body" id="patientInfoView" style="padding: 0;">

        </div>
    </div>
</div>

<script src="~/features/admin/diagnosis/js/diagnosis.js" asp-append-version="true"></script>