@using E_Doctor.Application.DTOs.Dashboard;
@model GetDashboardDetailsDTO

<link rel="stylesheet" href="~/features/admin/dashboard/css/dashboard.css" asp-append-version="true" />

<div id="dashboard" class="page-content active">
    <h2 class="text-2xl font-semibold mb-4">Dashboard</h2>
    <div id="dashboard-cards" class="dashboard-cards-grid">
        <div class="stat-card">
            <div class="icon-container"><svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path></svg></div>
            <div class="info"><h4>Total Symptoms</h4><p>@Model.GetDashboardCardDetails.TotalSymptoms</p></div>
        </div>
        <div class="stat-card green">
            <div class="icon-container"><svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg></div>
            <div class="info"><h4>Total Illnesses</h4><p>@Model.GetDashboardCardDetails.TotalIllnesses</p></div>
        </div>
        <div class="stat-card orange">
            <div class="icon-container"><svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg></div>
            <div class="info"><h4>Total Rules</h4><p>@Model.GetDashboardCardDetails.TotalRules</p></div>
        </div>
    </div>
</div>

<script src="~/features/admin/dashboard/js/dashboard.js" asp-append-version="true"></script>