<link rel="stylesheet" href="~/features/patient/consultation/css/consultation.css" asp-append-version="true" />

<div class="flex gap-2 flex-column w-full consultation-content text-center">
    <div class="consultaiont-card flex flex-column gap-2">
        <h1 class="font-bold consulation-title">Start a New Consultation</h1>
        <p>
            Please select an illness below to begin the symptom assessment
        </p>
    </div>
    <button class="btn btn-primary start-new-diagnosis-btn" id="start-consultation-btn">Start New Consultation</button>
</div>

<div id="illness-modal" class="modal-backdrop">
    <div class="modal-content modal-illness-content">
        <div class="modal-header">
            <h3 class="text-sm font-semibold">Select an Illness</h3>
            <button class="modal-close-btn" id="close-illness-modal-btn">&times;</button>
        </div>
        <div class="modal-body">
            <div class="illness-content">
                <div>
                    <input id="search-illness-txt" class="form-input" type="text" placeholder="Search illness" autocomplete="off" />
                </div>
                <div class="illness-list" id="illness-list">
                    <button class="btn illness-item-btn" data-illness-id="1">Anxiety Disorder</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="symptoms-modal" class="modal-backdrop">
    <div class="modal-content modal-symptom-content">
        <div class="modal-header">
            <h3 class="text-sm" id="symptoms-modal-title"></h3>
        </div>
        <button id="quest-back-btn" class="card-slider-btn back question-btn" type="button" title="Card Slide Back">
            <span id="back-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-gray-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                </svg>
            </span>
        </button>
        <div class="modal-body">
            <div class="symptoms-content" id="symptom-question-content">
            </div>
        </div>
        <button id="quest-next-btn" class="card-slider-btn next question-btn" type="button" title="Card Slide Next">
            <span id="next-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                </svg>
            </span>
        </button>
        <div class="modal-footer">
            <div class="navigation-symptom-buttons flex justify-between mt-2">
                <button class="btn btn-secondary get-diagnosis-button question-btn" id="quest-get-diagnosis-btn" disabled>Get Diagnosis</button>
            </div>
            <div class="flex mt-2 justify-center">
                <button class="btn cancel-symptom-btn" id="cancel-diagnosis">Cancel Diagnosis</button>
            </div>
        </div>
    </div>
</div>

<div id="diagnosis-result-modal" class="modal-backdrop">
    <div class="modal-content modal-diagnosis-content">
        <div class="modal-header">
            <h3 class="text-sm font-semibold">Diagnosis Result</h3>
        </div>
        <div class="modal-body">
            <div class="diagnosis-content-card text-center">
                <p id="diagnosis-result" class="text-xl font-medium">Likely Bronchitis.</p>
                <p id="diagnosis-description" class="text-gray-500 mt-2">Your symptoms suggest bronchitis. Most cases are viral and resolve on their own, but consult a doctor if symptoms are severe.</p>
                <div class="text-left mt-4">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Prescriptions:</h4>
                    <p id="diagnosis-prescription" class="text-gray-700">Cough suppressants, Rest, Increased fluid intake.</p>
                </div>
                <div class="text-left mt-4">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Doctor's Note / Referral:</h4>
                    <p id="diagnosis-notes" class="text-gray-700">If your cough lasts for more than three weeks or is accompanied by a high fever, you should see a doctor.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex mt-2 justify-center">
                <button class="btn btn-primary start-new-diagnosis-btn start-diagnosis-modal-btn" id="start-diagnosis-modal-btn">Start New Diagnosis</button>
            </div>
        </div>
    </div>
</div>

<script src="~/features/patient/consultation/js/consultation.js" asp-append-version="true"></script>