<link rel="stylesheet" href="~/features/patient/diagnosis/css/diagnosis.css" asp-append-version="true" />

<div class="flex justify-between flex-column gap-2 mb-4">
    <div class="flex justify-end gap-2">
        <button id="new-consultation-btn" class="btn btn-secondary">New Consultation</button>
        @* <button id="import-rules-btn" class="btn btn-secondary">Import Rules</button> *@
    </div>
</div>
<div class="card">
    <div class="table-container">
        <table class="data-table">
            <tr>
                <th>Date</th>
                <th>Symptoms</th>
                <th>Pre-Result</th>
                <th>Action</th>
            </tr>
            <tbody id="history-table-body">
            </tbody>
        </table>
    </div>
    <div class="pagination-controls">
        <label style="font-weight: 500;">Page: </label>
        <select id="diagnosis-pagination" value="2" class="form-select" style="width: auto;">
        </select>
    </div>
</div>

@* Diagnosis Result *@
<div id="diagnosis-result-modal" class="modal-backdrop">
    <div class="modal-content modal-diagnosis-content">
        <div class="modal-header">
            <h3 class="text-xl font-semibold">Diagnosis Pre-Result</h3>
            <button id="close-diagnosis-result-modal" class="modal-close-btn">&times;</button>
        </div>
        <div class="modal-body">
            <div class="diagnosis-content-card flex justify-center items-center">
                <h2 id="diagnosis-result" class="font-medium text-center"></h2>
                @* <p id="diagnosis-result" class="text-xl font-medium">Likely Bronchitis.</p> *@

              @*   <p id="diagnosis-description" class="text-gray-500 mt-2">Your symptoms suggest bronchitis. Most cases are viral and resolve on their own, but consult a doctor if symptoms are severe.</p>
                <div class="text-left mt-4">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Prescriptions:</h4>
                    <p id="diagnosis-prescription" class="text-gray-700">Cough suppressants, Rest, Increased fluid intake.</p>
                </div> *@
             @*    <div class="text-left mt-4">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Doctor's Note / Referral:</h4>
                    <p id="diagnosis-notes" class="text-gray-700">If your cough lasts for more than three weeks or is accompanied by a high fever, you should see a doctor.</p>
                </div> *@
            </div>
        </div>
    </div>
</div>

<div id="import-rules-modal" class="modal-backdrop">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="consultation-modal-title" class="text-xl font-semibold">Import Rules Congiguration</h3>
            <button id="close-rules-modal" class="modal-close-btn">&times;</button>
        </div>
        <div class="modal-body">
            <input type="file" accept=".json" autocomplete="off" id="import-rule-config-input" class="form-input" placeholder="Select File">
        </div>
        <div class="modal-footer">
            <button id="save-rules-config" class="btn btn-primary">Save Rules Configuration</button>
        </div>
    </div>
</div>

<script src="~/features/patient/diagnosis/js/diagnosis.js" asp-append-version="true"></script>