@using System.Security.Claims
@{
    var firstName = User.FindFirst("FirstName")?.Value ?? "User";
    var firstInitial = User.FindFirst("FirstInitial")?.Value ?? "?";
}

<header class="header">
    <div class="header-container">
        <h1 class="header-title">
            <svg class="header-icon" fill="currentColor" viewBox="0 0 24 24"><path d="M18 10h-4V6h-4v4H6v4h4v4h4v-4h4v-4zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /></svg>
            E-Doctor
        </h1>
        <div class="user-profile">
            <span class="user-welcome-text">Welcome, @firstName</span>
            <div class="user-avatar">@firstInitial</div>
        </div>
    </div>
</header>