:root {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
}

.manage-user-table {
    font-size: .9rem;
}

.manage-user-btn {
    padding: .5rem;
}

.manage-user-edit-btn {
    color: rgb(67 56 202 / var(--tw-text-opacity, 1));
    background-color: rgb(224 231 255 / var(--tw-bg-opacity, 1));

}

.manage-user-delete-btn {

}

.manage-user-reset-btn {
    color: rgb(194 65 12 / var(--tw-text-opacity, 1));
    background-color: rgb(255 237 213 / var(--tw-bg-opacity, 1));
}

.manage-user-archive-btn {
    background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
}

.manage-user-unarchive-btn {
    background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.manage-user-status {
    padding: .2rem .5rem;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    font-weight: 600;
}

.manage-user-status.active {
    color: rgb(22 101 52 / var(--tw-text-opacity, 1));
    background: rgb(220 252 231 / var(--tw-bg-opacity, 1));
}

.manage-user-filter-search {
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(209 213 219 / var(--tw-border-opacity, 1));
    min-width: 300px;
}

.manage-user-filter-status {
    border-radius: 0.5rem;
    padding-inline: .5rem;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.manage-user-filter:focus {
    outline: 0;
    border: 0;
    border: 1px solid rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.patient-account-md-content {
    max-width: 50dvw;
    max-height: 100dvh;
}

.patient-account-md-body {
    gap: 1.3rem;
}

.patient-account-reset-content {
    max-width: 500px;
}

.user-history-content {
    max-width: 600px;
    max-height: 90dvh;
}

.form-row {
    flex: 1;
    font-size: .9rem;
}

.form-item {
    flex: 1;
}

