<link rel="stylesheet" href="~/features/admin/settings/css/symptom-setting.css" asp-append-version="true" />

<div class="flex justify-between mb-4">
    <div class="flex gap-2">
        <input type="text" id="symptom-search-input" autocomplete="off" class="form-input self-start search-symptom" placeholder="Search symptoms...">
        <button id="symptom-search-btn" class="btn btn-sm btn-secondary self-start">Search</button>
    </div>
    <button id="new-symptom-btn" class="btn btn-sm btn-primary new-symptom-btn self-start">New Symptom</button>
</div>
<div class="card">
    <div class="table-container">
        <table class="data-table">
            <thead><tr><th>Symptom Name</th><th>Actions</th></tr></thead>
            <tbody id="symptoms-table-body"></tbody>
        </table>
    </div>
    <div class="pagination-controls">
        <label style="font-weight: 500;">Page: </label>
        <select id="symptoms-pagination" value="2" class="form-select" style="width: auto;"></select>
    </div>
</div>
<div id="symptom-modal" class="modal-backdrop">
    <div class="modal-content" style="max-width: 28rem;">
        <div class="modal-header">
            <h3 id="symptom-modal-title" class="text-xl font-semibold">New Symptom</h3>
            <button class="modal-close-btn" id="close-symptom-modal-btn">&times;</button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="symptom-id-input">
            <div>
                <label for="symptom-name-input" class="font-semibold">Symptom Name</label>
                <input type="text" id="symptom-name-input" class="form-input mt-2" placeholder="e.g., High Fever">
            </div>
        </div>
        <div class="modal-footer">
            <button id="save-symptom-btn" class="btn btn-primary">Save Symptom</button>
        </div>
    </div>
</div>

<script src="~/features/admin/settings/js/symptoms-setting.js" asp-append-version="true"></script>