#disease-modal .modal-content {
    max-width: 800px;
}

.self-start {
    align-self: start;
}
.self-center {
    align-self: center;
}
.search-illness {
    min-width: 300px;
}

#disease-rules-container {
    margin-top: 20px;
}
