<div id="test" class="page-content">
    <h2 class="text-2xl font-semibold mb-4 settings-page-title">@ViewBag.PageTitle</h2>
    <partial name="PatientDiagnosisPartials/_DiagnosisTab.cshtml" />
</div>
