.page-content {
    height: 100%;
}

.dashboard-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.stat-card {
    background-color: var(--surface-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-left: 5px solid var(--primary-color);
}

    .stat-card.green {
        border-left-color: var(--secondary-color);
    }

    .stat-card.orange {
        border-left-color: #f97316;
    }

    .stat-card.red {
        border-left-color: #EF4444;
    }

    .stat-card .icon-container {
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e0f2fe;
    }

    .stat-card.green .icon-container {
        background-color: #d1fae5;
    }

    .stat-card.orange .icon-container {
        background-color: #ffedd5;
    }

    .stat-card .icon-container svg {
        width: 2rem;
        height: 2rem;
        color: var(--primary-color);
    }

    .stat-card.green .icon-container svg {
        color: var(--secondary-color);
    }

    .stat-card.orange .icon-container svg {
        color: #f97316;
    }

    .stat-card .info h4 {
        color: var(--text-secondary);
        font-weight: 500;
        font-size: 1rem;
    }

    .stat-card .info p {
        color: var(--text-primary);
        font-weight: 700;
        font-size: 2.25rem;
    }
