
.consulation-title {
    font-size: 2.5rem;
}

    .consulation-title + p {
        font-size: 1.3rem;
    }

.justify-center {
    justify-content: center;
}

.consultation-content {
    margin-top: 20px;
}

.start-new-diagnosis-btn {
    width: 250px;
    margin-inline: auto;
    margin-top: 20px;
    justify-content: center;
    border-radius: 20px;
}

.modal-illness-content {
    max-width: 30rem;
}

.modal-illness-content {
}

.illness-content {
    padding: 10px 20px;
    min-height: 100px;
}

.illness-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    overflow-y: auto;
}

.illness-item-btn {
    --bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--bg-opacity, 1));
    color: #000;
    font-weight: 400;
}

    .illness-item-btn:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

/*Symptoms styles*/
.modal-symptom-content {
    max-width: 75vw;
    padding-bottom: 10px;
}

.modal-symptom-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-symptom-content .modal-header .modal-close-btn {
    position: static;
    font-size: 2rem;
}

.symptoms-content {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.symptom-card-container {
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    min-width: 100%;
}

.navigation-symptom-buttons {
    gap: 30px;
}

    .navigation-symptom-buttons .btn {
        padding: 10px 20px;
        border-radius: 30px;
        flex: 1;
        justify-content: center;
    }

    .navigation-symptom-buttons .back-button {
        color: #fff;
        background-color: #374151;
        opacity: .7;
    }

        .navigation-symptom-buttons .back-button:hover {
            opacity: 1;
        }

.question-btn[disabled] {
    cursor: not-allowed;
    opacity: .7;
}

.cancel-symptom-btn {
    background-color: rgb(107 114 128);
    margin-inline: auto;
}

.symptom-yes-no-buttons {
    justify-content: center;
    gap: 20px;
}

    .symptom-yes-no-buttons .btn {
        border-radius: 20px;
        padding-inline: 30px;
        padding-block: 7px;
        margin-top: 20px;
    }

        .symptom-yes-no-buttons .btn.selected {
            opacity: .5;
        }

/*Diagnosis Result styles*/
.diagnosis-content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 70px;
    border-radius: 15px;
    padding: 10px 20px;
}

.diagnosis-illnes-section-result {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.diagnosis-label-text {
    color: #64748b;
    font-weight: bold;
    font-size: .8rem;
}

.diagnosis-result-card {
    text-align: center;
    padding-block: 10px;
    border-radius: 15px;
    background-color: #eff6ff;
    border: 1px solid rgba(37, 99, 235, 0.2);
}

.diagnosis-result-card h3 {
    color: var(--primary-color);
    font-weight: bold !important;
}

.diagnosis-result-desc {
    font-size: .9rem;
    color: #64748b;
}

.patient-symptoms-section {
    margin-top: 20px;
}

.patient-symptoms-list {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.patient-symptom-tag {
    background: #f1f5f9;
    color: var(--text-dark);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    font-weight: bold;
    border: 1px solid #e2e8f0;
}

.start-diagnosis-modal-btn {
    margin-top: 0 !important;
}

.move-left {
    transform: translateX(-100%);
}

.move-right {
    transform: translateX(100%);
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.card-slider-btn {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: none;
    position: absolute;
    top: 50%;
    background-color: transparent;
    cursor: pointer;
}

    .card-slider-btn.next {
        right: -10px;
        transform: translate(0%, -100%);
    }

    .card-slider-btn.back {
        left: -10px;
        transform: translate(0%, -100%);
    }


.warning-text {
    color: red !important;
}


.symptoms-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 5px;
    gap: 10px;
}

.symptom-item {
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(229 231 235 / 1);
}

.symptom-item .custom-checkbox {
    width: 100%;
    padding: 0;
}


.symptom-item .custom-checkbox label {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.symptom-item .custom-checkbox label.custom-checkbox-label::before {
    width: 20px;
    height: 20px;
}

.symptom-item .custom-checkbox label.custom-checkbox-label::after {
    left: 24px;
    top: 48%;
}

.symptom-footer-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.symptom-footer-buttons .btn {
    width: fit-content;
    margin: 5px;
    padding: .5rem 1rem;
}