@model E_Doctor.Application.DTOs.Common.UserAccountDTOs.UserDetailsResponseDTO

@{
    var civilStatOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = "Single", Text = "Single" , Selected = true },
        new SelectListItem { Value = "Married", Text = "Married" },
        new SelectListItem { Value = "Other", Text = "Other" },
    };

    var genderOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = "Male", Text = "Male", Selected = true },
        new SelectListItem { Value = "Female", Text = "Female" },
        new SelectListItem { Value = "Other", Text = "Other" }
    };

    ViewData.TryGetValue("MissingFields", out var MissingFieldsObj);
    string MissingFields = string.Empty;

    if (MissingFieldsObj is not null)
    {
        MissingFields = MissingFieldsObj?.ToString();
    }
}

<link rel="stylesheet" href="~/features/admin/common/css/userDetailView.css" asp-append-version="true" />

<div class="register-form-content">
    <div class="registration-form__group">
        <div class="registration-form__group-header">
            <h3>PERSONAL INFORMATION</h3>
        </div>

        <div class="registration-form__group-field-container mt-2 form-grid">
            <div class="form-group-field">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName" class="form-input" />
            </div>

            <div class="form-group-field">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" class="form-input" />
            </div>

            <div class="form-group-field">
                <label asp-for="MiddleName">Middle Name:</label>
                <input asp-for="MiddleName" class="form-input" />
            </div>
        </div>

        <div class="registration-form__group-field-container mt-2 form-grid">
            <div class="form-group-field">
                <label asp-for="Religion">Religion:</label>
                <input asp-for="Religion" class="form-input" />
            </div>

            <div class="form-group-field">
                <label asp-for="DateOfBirth">Date Of Birth:</label>
                <input type="date" asp-for="DateOfBirth" class="form-input" />
            </div>

            <div class="form-group-field">
                <label asp-for="CivilStatus">Civil Status:</label>
                <select asp-for="CivilStatus" asp-items="civilStatOptions" class="form-select">
                </select>
            </div>
        </div>

        <div class="registration-form__group-field-container mt-2 form-grid">
            <div class="form-group-field">
                <label asp-for="Gender">Sex:</label>
                <select asp-for="Gender" asp-items="genderOptions" class="form-select">
                </select>
            </div>

            <div class="form-group-field">
                <label asp-for="Occupation">Occupation</label>
                <input asp-for="Occupation" class="form-input" />
            </div>
            <div class="form-group-field">
                <label asp-for="Nationality">Nationality:</label>
                <input asp-for="Nationality" class="form-input" />
            </div>
        </div>
        <div class="registration-form__group-field-container mt-2 form-grid">
            <div class="form-group-field">
                <label asp-for="Address">Address:</label>
                <input asp-for="Address" class="form-input" />
            </div>
        </div>
    </div>

    <div class="registration-form__group">
        <div class="registration-form__group-header">
            <h3>PAST MEDICAL RECORD</h3>
        </div>
        <div class="registration-form__group-field-container mt-2 form-grid form-grid-4">
            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-PrevHospitalization"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.PreviousHospitalization" />
                    <label for="past-PrevHospitalization" class="custom-checkbox-label">Previous Hospitalization</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-Surgery"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.PastSurgery" />
                    <label for="past-Surgery" class="custom-checkbox-label">Past Surgery</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-Diabetes"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.Diabetes" />
                    <label for="past-Diabetes" class="custom-checkbox-label">Diabetes</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-Hypertension"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.Hypertension" />
                    <label for="past-Hypertension" class="custom-checkbox-label">Hypertension</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-AllergyToMeds"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.AllergyToMeds" />
                    <label for="past-AllergyToMeds" class="custom-checkbox-label">Allergy to Meds</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-HeartProblem"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.AllergyToMeds" />
                    <label for="past-HeartProblem" class="custom-checkbox-label">Heart Problem</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-Asthma"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.Asthma" />
                    <label for="past-Asthma" class="custom-checkbox-label">Asthma</label>
                </div>
            </div>

            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-FoodAllergies"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.FoodAllergies" />
                    <label for="past-FoodAllergies" class="custom-checkbox-label">Food Allergies</label>
                </div>
            </div>
        </div>
        <div class="registration-form__group-field-container mt-2 form-grid form-grid-3">
            <div class="form-group-field">
                <div class="custom-checkbox">
                    <input type="checkbox"
                           id="past-Cancer"
                           class="custom-checkbox-input form-checkbox"
                           asp-for="PatientPastMedicalRecord.Cancer" />
                    <label for="past-Cancer" class="custom-checkbox-label">Cancer</label>
                </div>
            </div>

            <div class="form-group-field grid-span">
                <label asp-for="PatientPastMedicalRecord.OtherIllnesses">Other Illnesses</label>
                <input asp-for="PatientPastMedicalRecord.OtherIllnesses" class="form-input" />
            </div>
        </div>

        <div class="registration-form__group-field-container mt-2">
            <div class="form-group-field flex flex-column items-start gap-2">
                <label asp-for="PatientPastMedicalRecord.MaintenanceMeds">Maintenance Medications:</label>
                <textarea asp-for="PatientPastMedicalRecord.MaintenanceMeds" class="form-input" rows="5"></textarea>
            </div>
        </div>

        <div class="registration-form__group-field-container mt-2">
            <div class="form-group-field flex flex-column items-start gap-2">
                <label asp-for="PatientPastMedicalRecord.OBGyneHistory">OB-GYNE History:</label>
                <textarea asp-for="PatientPastMedicalRecord.OBGyneHistory" class="form-input" rows="3"></textarea>
            </div>
        </div>

        <div class="registration-form__group-field-container mt-4">
            <div class="registration-form__sub-group-field-container flex flex-column gap-2">
                <div class="flex items-center gap-3">
                    <span>Family History:</span>
                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-None"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.None" />
                        <label for="fh-None" class="custom-checkbox-label">None</label>
                    </div>
                </div>

                <div class="sub-form-group-field form-grid form-grid-4 w-full family-history-fields-section">

                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-PTB"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.PTB" />
                        <label for="fh-PTB" class="custom-checkbox-label">PTB</label>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-Hypertension"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.Hypertension" />
                        <label for="fh-Hypertension" class="custom-checkbox-label">Hypertension</label>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-Cardiac"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.Cardiac" />
                        <label for="fh-Cardiac" class="custom-checkbox-label">Cardiac</label>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-Diabetes"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.Diabetes" />
                        <label for="fh-Diabetes" class="custom-checkbox-label">Diabetes</label>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-Asthma"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.Asthma" />
                        <label for="fh-Asthma" class="custom-checkbox-label">Asthma</label>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox"
                               id="fh-Cancer"
                               class="custom-checkbox-input form-checkbox"
                               asp-for="PatientFamilyHistory.Cancer" />
                        <label for="fh-Cancer" class="custom-checkbox-label">Cancer</label>
                    </div>

                    <div class="form-group-field flex items-center gap-2 grid-span">
                        <label asp-for="PatientFamilyHistory.Others">Others</label>
                        <input asp-for="PatientFamilyHistory.Others" class="form-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="registration-form__group-field-container mt-4">
            <div class="registration-form__sub-group-field-container flex flex-column gap-2">
                <span>Personal History:</span>
                <div class="sub-form-group-field form-grid form-grid-4 w-full">
                    <div class="form-group-field">
                        <div class="custom-checkbox">
                            <input type="checkbox"
                                   id="ph-Smoker"
                                   class="custom-checkbox-input form-checkbox"
                                   asp-for="PatientPersonalHistory.Smoker" />
                            <label for="ph-Smoker" class="custom-checkbox-label">Smoker</label>
                        </div>
                    </div>

                    <div class="form-group-field">
                        <div class="custom-checkbox">
                            <input type="checkbox"
                                   id="ph-AlchoholBeverageDrinker"
                                   class="custom-checkbox-input form-checkbox"
                                   asp-for="PatientPersonalHistory.AlchoholBeverageDrinker" />
                            <label for="ph-AlchoholBeverageDrinker" class="custom-checkbox-label">Alchohol Beverage Drinker</label>
                        </div>
                    </div>

                    <div class="form-group-field">
                        <div class="custom-checkbox">
                            <input type="checkbox"
                                   id="ph-IllicitDrugUser"
                                   class="custom-checkbox-input form-checkbox"
                                   asp-for="PatientPersonalHistory.IllicitDrugUser" />
                            <label for="ph-IllicitDrugUser" class="custom-checkbox-label">Illicit Drug User</label>
                        </div>
                    </div>

                    <div class="form-group-field flex items-center gap-2 w-full">
                        <label asp-for="PatientPersonalHistory.Others">Others</label>
                        <input asp-for="PatientPersonalHistory.Others" class="form-input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>