<link rel="stylesheet" href="~/features/user/css/registration.css" asp-append-version="true" />

<div class="register-form-container">
    <div class="register-form-container__header">
        <h1 class="register-form-title">Patient Registration Form</h1>
        <p class="text-lg mt-2 register-form-subtitle">Please complete all required fields (*).</p>
    </div>
    <form id="register-form" autocomplete="off" class="register-form">
        <div class="register-form-content ">
            @* Personal Information *@
            <div class="registration-form__group">
                <div class="registration-form__group-header">
                    <h3>PERSONAL INFORMATION</h3>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid">
                    <div class="form-group-field">
                        <label>Last Name</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label>First Name</label>
                        <input type="text" id="reg-password" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label>Middle Name</label>
                        <input type="text" id="reg-firstname" class="form-input" required autocomplete="off">
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid">
                    <div class="form-group-field">
                        <label>Religion</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-middlename">Civil Status</label>
                        <select class="form-select">
                            <option>Single</option>
                            <option>Married</option>
                            <option>Divorced</option>
                        </select>
                    </div>
                    <div class="form-group-field">
                        <label for="reg-middlename">Sex</label>
                        <select class="form-select">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>

                <div class="registration-form__group-field-container mt-2 form-grid">
                    <div class="form-group-field">
                        <label>Occupation</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label>Address</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label>Nationality</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                </div>
            </div>

            @* Past Medical Record *@
            <div class="registration-form__group">
                <div class="registration-form__group-header">
                    <h3>PAST MEDICAL RECORD</h3>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid form-grid-2">
                    <div class="form-group-field">
                        <label for="reg-username">Previous Hospitalization?</label>
                        <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Past Surgery</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid form-grid-3">
                    <div class="form-group-field">
                        <label for="reg-password">Diabetes</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Hypertension</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Allergy to meds</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Heart Problem</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Ashtma</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label for="reg-password">Food Allergies</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid form-grid-3">
                    <div class="form-group-field">
                        <label for="reg-password">Cancer</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field grid-span">
                        <label for="reg-password">Other Illnesses</label>
                        <input type="text" class="form-input" required autocomplete="off">
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-2">
                    <div class="form-group-field flex flex-column items-start gap-2">
                        <label for="reg-password">Maintenance Medications:</label>
                        <textarea class="form-input" required autocomplete="off" rows="5"></textarea>
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-2">
                    <div class="form-group-field flex flex-column items-start gap-2">
                        <label for="reg-password">OB-GYNE History:</label>
                        <textarea class="form-input" required autocomplete="off" rows="3"></textarea>
                    </div>
                </div>
                <div class="registration-form__group-field-container mt-4">
                    <div class="registration-form__sub-group-field-container flex items-start flex-column gap-2 text-nowrap">
                        <span>Family History:</span>
                        <div class="sub-form-group-field form-grid form-grid-4 justify-center w-full">
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox-input form-checkbox" id="ckbox-ptb" required autocomplete="off">
                                    <label class="custom-checkbox-label" for="ckbox-ptb">PTB</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="ckbox-hypertension" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label class="custom-checkbox-label" for="ckbox-hypertension">Hypertension</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-cardiac" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-cardiac" class="custom-checkbox-label">Cardiac</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-none" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-none" class="custom-checkbox-label">None</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-diabetes" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-diabetes" class="custom-checkbox-label">diabetes</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-ashtma" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-ashtma" class="custom-checkbox-label">Asthma</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-cancer" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-cancer" class="custom-checkbox-label">Cancer</label>
                                </div>
                            </div>
                            <div class="form-group-field flex items-center gap-2 w-full">
                                <label for="reg-password">Others</label>
                                <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                @* Personal History *@
                <div class="registration-form__group-field-container mt-4">
                    <div class="registration-form__sub-group-field-container flex items-start flex-column gap-2 text-nowrap">
                        <span>Personal History:</span>
                        <div class="sub-form-group-field form-grid form-grid-4 justify-center w-full">
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox-input form-checkbox" id="ckbox-personalh-smoker" required autocomplete="off">
                                    <label class="custom-checkbox-label" for="ckbox-personalh-smoker">Smoker</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="ckbox-personalh-alchoholic-drinker" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label class="custom-checkbox-label" for="ckbox-personalh-alchoholic-drinker">Alchoholic Beverage drinker</label>
                                </div>
                            </div>
                            <div class="form-group-field">
                                <div class="custom-checkbox">
                                    <input id="ckbox-personalh-illicit-d-user" type="checkbox" class="custom-checkbox-input form-checkbox" required autocomplete="off">
                                    <label for="ckbox-personalh-illicit-d-user" class="custom-checkbox-label">ILLICIT DRug User</label>
                                </div>
                            </div>
                            <div class="form-group-field flex items-center gap-2 w-full">
                                <label for="reg-password">Others</label>
                                <input type="text" id="reg-username" class="form-input" required autocomplete="off">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @* Family History *@
            <div class="registration-form__group">
                <div class="registration-form__group-header">
                    <h3>System Account</h3>
                </div>
                <div class="registration-form__group-field-container mt-2 form-grid">
                    <div class="form-group-field">
                        <label>Username</label>
                        <input type="email" id="reg-username" class="form-input" required autocomplete="off">
                    </div>
                    <div class="form-group-field">
                        <label>Password</label>
                        <input type="password" id="reg-password" class="form-input" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group-buttons">
            <button type="submit" class="btn btn-primary form-btn-register">Register Patient</button>
            <p class="auth-link">Already have an account? <a asp-controller="Account" asp-action="Login" id="show-login-link">Login</a></p>
        </div>
    </form>
</div>

<script src="~/features/user/js/register.js" asp-append-version="true"></script>
